In [ ]:


#pip install geopy

In [2]:
import numpy as np
import pandas as pd
from geopy.distance import vincenty

In [3]:
data_trip = pd.read_csv('../data/2016_trip_data.csv',parse_dates=['starttime'])

In [4]:
data_trip.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,2014-10-13 10:31:00,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,2014-10-13 10:32:00,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,2014-10-13 10:33:00,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,2014-10-13 10:34:00,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,2014-10-13 10:34:00,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [16]:
newport_ri = (41.49008, -71.312796)
cleveland_oh = (41.499498, -81.695391)
print(vincenty(newport_ri, cleveland_oh).miles)

538.390445157

In [9]:
station = pd.read_csv('../data/2016_station_data.csv')
station.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [23]:
data_trip['from_station_id'][1]

'CBD-06'

In [26]:
station.loc[2,'station_id']

'BT-04'

In [35]:
#station['station_id'].str.find('BT-03')==0

In [36]:
#index_temp = station.station_id[station.station_id == 'BT-03'].index.tolist()

In [205]:
def ride_distance(from_id,to_id):
    """calculate the distance between from_station and to_station"""
    
    #abnormal data
    if (data_trip.loc[i].to_station_id) == 'Pronto shop' : return 0
    if (data_trip.loc[i].to_station_id) == 'Pronto shop 2' : return 0
    if (data_trip.loc[i].to_station_id) == '8D OPS 02' : return 0
    if (data_trip.loc[i].from_station_id) == 'Pronto shop' : return 0
    #find the index of from_id in station list
    from_index = station.station_id[station.station_id == from_id].index.tolist()
    #get the latitude, longitude of from_sattion
    from_loc = (station.loc[from_index].lat.values[0], station.loc[from_index].long.values[0])
    
    to_index = station.station_id[station.station_id == to_id].index.tolist()
    to_loc = (station.loc[to_index].lat.values[0], station.loc[to_index].long.values[0])
    
    #measure the distance by Geopy
    distance = vincenty(from_loc, to_loc).miles
    
    return distance

In [38]:
station.loc[index_temp].lat

1    47.615829
Name: lat, dtype: float64

In [140]:
ride_distance(data_trip.loc[4].from_station_id,data_trip.loc[4].to_station_id)

0.38222522461707314

In [138]:
data_trip_dis = data_trip
data_trip_dis['trip_distance'] = 0

In [206]:
for i in range(227729,data_trip_dis.shape[0]):
    dis = ride_distance(data_trip.loc[i].from_station_id,data_trip.loc[i].to_station_id)
    data_trip_dis.set_value([i],'trip_distance',dis)

In [207]:
data_trip_dis.loc[167777]

trip_id                                           183100
starttime                            2016-02-10 17:18:00
stoptime                                 2/10/2016 17:31
bikeid                                          SEA00035
tripduration                                     757.539
from_station_name                  9th Ave N & Mercer St
to_station_name      Key Arena / 1st Ave N & Harrison St
from_station_id                                   DPD-01
to_station_id                                     SLU-19
usertype                                          Member
gender                                              Male
birthyear                                           1992
trip_distance                                   0.742477
Name: 167777, dtype: object

In [199]:
dis = ride_distance(data_trip.loc[161515].from_station_id,data_trip.loc[161515].to_station_id)
dis

0

In [200]:
data_trip_dis['trip_distance'][6]

0.19511052889118943

In [153]:
data_trip_dis.shape[0]

236065

In [203]:
i

227729

In [183]:
data_trip.loc[i].to_station_id

'Pronto shop 2'

In [221]:
#average speed   (m/s)
data_trip_dis['average_speed'] = data_trip_dis.trip_distance*1609.34/data_trip_dis.tripduration
data_trip_dis.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear,trip_distance,average_speed
0,431,2014-10-13 10:31:00,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0,0.382225,0.623906
1,432,2014-10-13 10:32:00,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0,0.382225,0.664019
2,433,2014-10-13 10:33:00,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0,0.382225,0.695982
3,434,2014-10-13 10:34:00,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0,0.382225,0.710364
4,435,2014-10-13 10:34:00,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0,0.382225,0.665781

In [222]:
times = pd.DatetimeIndex(data_trip_dis['starttime'])
times.date

array([datetime.date(2014, 10, 13), datetime.date(2014, 10, 13),
       datetime.date(2014, 10, 13), ..., datetime.date(2016, 8, 31),
       datetime.date(2016, 8, 31), datetime.date(2016, 8, 31)], dtype=object)

In [224]:
#time
data_trip_dis['date'] = times.date
data_trip_dis['hour'] = times.hour
data_trip_dis.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear,trip_distance,average_speed,date,hour
0,431,2014-10-13 10:31:00,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0,0.382225,0.623906,2014-10-13,10
1,432,2014-10-13 10:32:00,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0,0.382225,0.664019,2014-10-13,10
2,433,2014-10-13 10:33:00,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0,0.382225,0.695982,2014-10-13,10
3,434,2014-10-13 10:34:00,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0,0.382225,0.710364,2014-10-13,10
4,435,2014-10-13 10:34:00,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0,0.382225,0.665781,2014-10-13,10

In [226]:
#save data
data_trip_dis.to_csv('../data/2016_trip_data_update.csv')

In [ ]:
#AIzaSyDaVBgVRxGWiIHx1FWweE59AjonW2lTrnY

In [1]:
# Get elevations from the Google Maps API

def get_station_elevations(stations):
    """Get station elevations via Google Maps API"""
    URL = "https://maps.googleapis.com/maps/api/elevation/json?locations="
    locs = '|'.join(['{0},{1}'.format(lat, long)
                     for (lat, long) in zip(stations.lat, stations.long)])
    URL += locs
    !curl "{URL}" -o elevations.json

In [11]:
def process_station_elevations():
    """Convert Elevations JSON output to CSV"""
    import json
    D = json.load(open('elevations.json'))
    def unnest(D):
        loc = D.pop('location')
        loc.update(D)
        return loc
    elevs = pd.DataFrame([unnest(item) for item in D['results']])
    elevs.to_csv('../data/station_elevations.csv')
    return elevs

In [12]:
# only run this the first time:
import os
#if not os.path.exists('station_elevations.csv'):
get_station_elevations(station)
process_station_elevations()

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 11632    0 11632    0     0   194k      0 --:--:-- --:--:-- --:--:--  210k

     elevation        lat         lng  resolution
0    37.351780  47.618418 -122.350964   76.351616
1    33.815830  47.615829 -122.348564   76.351616
2    34.274055  47.616094 -122.341102   76.351616
3    44.283257  47.613110 -122.344208   76.351616
4    48.493591  47.610731 -122.332447   76.351616
5    41.291862  47.609221 -122.335596   76.351616
6     9.812873  47.604058 -122.335800   76.351616
7    25.305275  47.605950 -122.335768   76.351616
8    31.532837  47.603509 -122.330409   76.351616
9    42.460381  47.610185 -122.339641   76.351616
10   65.043213  47.602103 -122.316923    9.543952
11   82.262909  47.618633 -122.325249   76.351616
12  103.638794  47.622063 -122.321251    9.543952
13   84.540398  47.623367 -122.325279   76.351616
14  128.299393  47.620712 -122.312805    9.543952
15  106.874847  47.618549 -122.317017    9.543952
16  124.501160  47.615330 -122.311752    9.543952
17   95.255569  47.615486 -122.318245    9.543952
18   92.524414  47.615517 -122.322083   76.351616
19   71.521408  47.615456 -122.326729   76.351616
20  118.063828  47.624142 -122.316811    9.543952
21   12.535355  47.624298 -122.339617   76.351616
22   21.353279  47.663509 -122.284119    9.543952
23    9.015257  47.627643 -122.332576   76.351616
24    8.618259  47.634831 -122.326634   76.351616
25   20.215000  47.649090 -122.322983   76.351616
26   97.595146  47.607281 -122.324783   76.351616
27   85.602219  47.609239 -122.316651    9.543952
28   16.402206  47.598488 -122.326412   76.351616
29    8.136753  47.600757 -122.332946   76.351616
30   11.623115  47.598994 -122.329684   76.351616
31   38.611301  47.619859 -122.330304   76.351616
32   18.428999  47.627735 -122.342232   76.351616
33   12.379134  47.623165 -122.338203   76.351616
34   20.639650  47.618320 -122.338913   76.351616
35   31.593578  47.613628 -122.337341   76.351616
36   48.752766  47.613715 -122.331777   76.351616
37    8.471963  47.626041 -122.335831   76.351616
38   33.918411  47.618285 -122.342205   76.351616
39   37.835129  47.622277 -122.355230   76.351616
40   39.918110  47.616260 -122.333815   76.351616
41   11.355392  47.624769 -122.339408   76.351616
42   14.910179  47.666145 -122.301491    9.543952
43   47.003418  47.658288 -122.313334    9.543952
44   29.843571  47.656395 -122.315620    9.543952
45   65.415382  47.663143 -122.315086    9.543952
46   56.674129  47.660268 -122.304826    9.543952
47   64.562508  47.659756 -122.310402    9.543952
48   34.545776  47.655590 -122.311890    9.543952
49   39.485744  47.654613 -122.304863    9.543952
50   15.954849  47.653713 -122.302162    9.543952
51   13.963663  47.650725 -122.311188    9.543952
52    3.295742  47.614315 -122.354093   76.351616
53    5.188225  47.607702 -122.341650   76.351616
54  102.222664  47.618640 -122.320777    9.543952
55   35.092381  47.620879 -122.347377   76.351616
56   21.827297  47.649952 -122.306263    9.543952
57    4.754626  47.611370 -122.348702   76.351616

In [13]:
elevs = pd.read_csv('../data/station_elevations.csv', index_col=0)
elevs.head()

   elevation        lat         lng  resolution
0  37.351780  47.618418 -122.350964   76.351616
1  33.815830  47.615829 -122.348564   76.351616
2  34.274055  47.616094 -122.341102   76.351616
3  44.283257  47.613110 -122.344208   76.351616
4  48.493591  47.610731 -122.332447   76.351616

In [19]:
station['elevation'] = elevs['elevation']
elevs.index = station['station_id']
trips = pd.read_csv('../data/2016_trip_data_update.csv')

In [20]:
trips['elevation_start'] = trips.join(elevs, on='from_station_id')['elevation']
trips['elevation_end'] = trips.join(elevs, on='to_station_id')['elevation']
trips['elevation_gain'] = trips['elevation_end'] - trips['elevation_start']

In [21]:
trips.head()

,Unnamed: 0,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear,trip_distance,average_speed,date,hour,elevation_start,elevation_end,elevation_gain
0,0,431,2014-10-13 10:31:00,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0,0.382225,0.623906,2014-10-13,10,25.305275,8.136753,-17.168522
1,1,432,2014-10-13 10:32:00,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0,0.382225,0.664019,2014-10-13,10,25.305275,8.136753,-17.168522
2,2,433,2014-10-13 10:33:00,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0,0.382225,0.695982,2014-10-13,10,25.305275,8.136753,-17.168522
3,3,434,2014-10-13 10:34:00,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0,0.382225,0.710364,2014-10-13,10,25.305275,8.136753,-17.168522
4,4,435,2014-10-13 10:34:00,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0,0.382225,0.665781,2014-10-13,10,25.305275,8.136753,-17.168522

In [22]:
trips.to_csv('../data/2016_trip_data_update.csv')